<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-2 mt-4">Time Voyage: A Journey Through History</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div class="w-50">
                    <mat-form-field appearance="fill" class="w-10">
                        <input matInput type="text" placeholder="Search events..." [(ngModel)]="searchKeyword"
                            (input)="searchEvents()">
                        <mat-icon matSuffix (click)="searchEvents()">search</mat-icon>
                    </mat-form-field>
                </div>

                <div>
                    <button (click)="zoomIn()" class="btn btn-sm btn-primary me-2" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Zoom In">
                        <mat-icon>zoom_in</mat-icon>
                    </button>

                    <button (click)="zoomOut()" class="btn btn-sm btn-primary" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Zoom Out">
                        <mat-icon>zoom_out</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="timeline-container">
                <div class="timeline" #timeline>
                    <div class="events">
                        <div class="event" *ngFor="let event of filteredEvents" (click)="showEventDetails(event)">
                            <app-event-card [data]="event"></app-event-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>